---
---
$background_img_baseurl: '/assets/img/first-launch/';
$background_deepspace_img: url($background_img_baseurl + 'FIRST-DeepSpace-Background-Stars-tile.jpg');
$background_deepspace_img_notile: url($background_img_baseurl + 'FIRST-DeepSpace-Background-Stars.jpg');
$background_generic_img: url($background_img_baseurl + 'FIRST-Launch_star-background.jpg');

body.fl-countdown-fullscreen {
    animation: scroll-bg-up linear 150s infinite;
    background-image: $background_deepspace_img;
    background-size: 200%;
    @media (max-width: 1090px) {
        animation: initial;
        background-image: $background_deepspace_img_notile;
        background-size: cover;
        background-position: center center;
    }
    section.content-block {
        position: absolute;
        left: 0;
        padding: 0;
        width: 100vw;
        img {
            margin-right: 10px;
            @media (max-width: 1090px) {
                margin-top: -55px;
                height: 50vh;
            }
        }
        div#countdown {
            text-shadow: 3px 3px 5px black;
        }
        @media (min-width: 1090px) {
            top: 45vh;
            img {
                margin-top: -230px;
                height: 702px;
            }
            div#countdown {
                font-size: 250%;
            }
            div#countdown strong {
                font-size: 190%;
            }        
        }
    }
    footer {
        margin-top: 92vh !important;
    }
}

section {
    &.fl-info {        
        background-image: $background_generic_img;
        background-size: cover;
        min-height: 250px;
        img {
            margin-left: 10px;
            // border: 2px solid #5E8E6B;
        }
    }
    &.fl-countdown-small {
        background-image: $background_deepspace_img_notile;
        background-size: cover;
        min-height: 240px;
        img {
            margin-right: 10px;
            margin-top: -55px;
            width: 350px;
        }
        @media (min-width: 1090px) {
            background-position-y: 50%;
            animation: scroll-bg-up-mid linear 300s infinite;
            background-image: $background_deepspace_img;
            background-size: 200%;
            h3#nextevent {
                font-size: 1.25em;
            }
            div#countdown {
                font-size: 1.7em;
            }
            div#countdown strong {
                font-size: 2em;
            }
        }
    }
}

@keyframes scroll-bg-up {
    0% {
        background-position-y: 0%;
    }
    100% {
        background-position-y: 100%;
    }
}
@keyframes scroll-bg-up-mid {
    0% {
        background-position-y: 50%;
    }
    100% {
        background-position-y: 150%;
    }
}
