<footer>
  <h2>At Top Gun Robotics, We Love our Sponsors!</h2>
  <div id="sponsor-grid">
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="assets/img/sponsors/ehs.png" alt="Eastlake High School" title="Eastlake High School">
      </div>
      <div class="grid-cell">
        <img src="assets/img/sponsors/firstwa.png" alt="FIRST Washington" title="FIRST Washington">
      </div>
      <div class="grid-cell">
        <img src="assets/img/sponsors/lwsf.png" alt="Lake Washington Schools Foundation" title="Lake Washington Schools Foundation">
      </div>
    </div>
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="assets/img/sponsors/boeing.png" alt="Boeing" title="Boeing">
      </div>
      <div class="grid-cell">
        <img src="assets/img/sponsors/chase.png" alt="Chase" title="Chase">
      </div>
      <div class="grid-cell">
        <img src="assets/img/sponsors/godaddy.png" alt="GoDaddy" title="GoDaddy">
      </div>
    </div>
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="assets/img/sponsors/google.png" alt="Google" title="Google">
      </div>
      <div class="grid-cell">
        <img src="assets/img/sponsors/honeywell.png" alt="Honeywell" title="Honeywell">
      </div>
      <div class="grid-cell">
        <img src="assets/img/sponsors/kenworth.png" alt="Kenworth" title="Kenworth">
      </div>
    </div>
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="assets/img/sponsors/microsoft.png" alt="Microsoft" title="Microsoft">
      </div>
      <div class="grid-cell">
        <img src="assets/img/sponsors/ospi.png" alt="Office of the Superindent of Public Instruction of Washington" title="Office of the Superindent of Public Instruction of Washington">
      </div>
      <div class="grid-cell">
        <img src="assets/img/sponsors/rocketdyne.png" alt="Aerojet Rocketdyne" title="Aerojet Rocketdyne">
      </div>
    </div>
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img style="height: 130px;" src="assets/img/sponsors/sae.png" alt="Society of Automotive Engineers Northwest" title="Society of Automotive Engineers Northwest">
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% if page.scripts %}
  {% for script in page.scripts %}
<script src="{{ script }}"></script>
  {% endfor %}
{% endif %}
