<footer class="content-block extend">
  <h2>At Top Gun Robotics, We Love our Sponsors!</h2>
  <div id="sponsor-grid">
    {% comment %}
      Keep track of the index so that the first three "main" sponsors (FIRST and EHS)
      appear on their own line.
    {% endcomment %}
    {% for sponsor in site.data.sponsors %}
      <a href="{{ sponsor.url }}">
        <img src="/assets/img/sponsors/{{ sponsor.img }}.png" alt="{{ sponsor.name }}">
      </a>

      {% if forloop.index0 == 2 %}
        <hr>
      {% endif %}
    {% endfor %}
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% if page.scripts %}
  {% for script in page.scripts %}
<script src="{{ script }}"></script>
  {% endfor %}
{% endif %}
