<footer>
  <h2>At Top Gun Robotics, We Love our Sponsors!</h2>
  <div id="sponsor-grid">
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/google.png" alt="Google" title="Google">
      </div>
      <div class="grid-cell">
      <img src="{{ base }}/assets/img/sponsors/ehs.png" alt="Eastlake High School" title="Eastlake High School">
      </div>
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/boeing.png" alt="Boeing" title="Boeing">
      </div>
    </div>
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/firstwa.png" alt="FIRST Washington" title="FIRST Washington">
      </div>
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/bartells.png" alt="Bartell Drugs" title="Bartell Drugs">
      </div>
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/johnmrossi.png" alt="John M. Rossi, DDS" title="John M. Rossi, DDS">
      </div>
    </div>
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/traderjoes.png" alt="Trader Joe's" title="Trader Joe's">
      </div>
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/krispykreme.png" alt="Krispy Kreme" title="Krispy Kreme">
      </div>
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/sammamishhighlandsvet.png" alt="Sammmamish Highlands Veterinary Hospital" title="Sammamish Highlands Veterinary Hospital">
      </div>
    </div>
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/microsoft.png" alt="Microsoft" title="Microsoft">
      </div>
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/target.png" alt="Target" title="Target">
      </div>
      <div class="grid-cell">
        <p>EHS Robotics Family Members</p>
      </div>
    </div>
    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/starbucks.png" alt="Starbucks" title="Starbucks">
      </div>

      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/tuttabella.png" alt="Tutta Bella" title="Tutta Bella">
      </div>

      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/papajohns.png" alt="Papa Johns" title="Papa Johns">
      </div>
    </div>

    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/mcdonalds.png" alt="McDonalds" title="McDonalds">
      </div>

      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/donuts.png" alt="Donuts" title="Donuts">
      </div>

      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/moorebrothers.png" alt="Moore Brothers Music" title="Moore Brothers Music">
      </div>
    </div>

    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <p>Dirk's Fine Dry Cleaning</p>
      </div>

      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/mudbay.png" alt="Mud Bay" title="Mud Bay">
      </div>

      <div class="grid-cell">
        <img style="height: 130px;" src="{{ base }}/assets/img/sponsors/sae.png" alt="Society of Automotive Engineers Northwest" title="Society of Automotive Engineers Northwest">
      </div>
    </div>

    <div class="sponsor-grid-row">
      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/ospi.png" alt="Office of the Superindent of Public Instruction of Washington" title="Office of the Superindent of Public Instruction of Washington">
      </div>

      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/lwsf.png" alt="Lake Washington Schools Foundation" title="Lake Washington Schools Foundation">
      </div>

      <div class="grid-cell">
        <img src="{{ base }}/assets/img/sponsors/godaddy.png" alt="GoDaddy" title="GoDaddy">
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% if page.scripts %}
  {% for script in page.scripts %}
<script src="{{ script }}"></script>
  {% endfor %}
{% endif %}
