<header>
  <a href="/"><img id="logo" src="{{ base }}/assets/img/logo.png" alt="Top Gun Robotics Logo"></a>
  <nav id="header-nav">
    <ul id="header-nav-links">
      <li><a href="{{ base }}">Home</a></li>
      <li><a href="{{ base }}/about">About</a></li>
      <li><a href="{{ base }}/contact">Contact Us</a></li>
      <li class="menu"><span>More</span>
        <ul>
          <li><a href="{{ base }}/calendar">Calendar</a></li>
          <li><a href="{{ base }}/forms">Forms</a></li>
          <li><a href="{{ base }}/resources">Resources</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <ul id="header-nav-social">
    <li>YT</li>
    <li>FB</li>
    <li>TW</li>
    <li>IG</li>
    <li>PH</li>
    <li>GH</li>
  </ul>
  
  <span id="nav-button">
    <!-- TODO: Fonticon hamburger menu -->
  </span>
</header>
