<head>
  <meta charset="utf-8">
  <title>Top Gun 1294 - {{ page.title }}</title>
  <meta name="theme-color" content="#5E8E6B">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="{{ base }}/assets/css/normalize.css">
  <link rel="stylesheet" href="{{ base }}/assets/css/main.css">
  <link rel="icon" type="image/png" href="{{ base }}/assets/img/favicon.png">
  {% if page.local_stylesheets %}
    {% for ssheet in page.local_stylesheets %}
  <link rel="stylesheet" href="{{ base }}/assets/css/{{ ssheet }}.css">
    {% endfor %}
  {% endif %}
  {% if page.ext_stylesheets %}
    {% for ssheet in page.ext_stylesheets %}
  <link rel="stylesheet" href="//{{ ssheet }}">
    {% endfor %}
  {% endif %}
</head>
