<header>
  <a href="/"><img id="logo" src="/assets/img/logo-invert.svg" alt="Top Gun Robotics Logo"></a>
  <nav id="header-nav">
    <ul id="header-nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li class="menu"><span>More</span>
        <ul>
          <li><a href="/calendar">Calendar</a></li>
          <li><a href="/forms">Forms</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <ul id="header-nav-social">
    {% for social in site.data.social %}
      <li>
        <a href="{{ social.url }}"><i class="fab fa-{{ social.icon }}"></i></a>
      </li>
    {% endfor %}

    <!--li>
      <a href="javascript:alert('If we ever made a blog, it would be here.')"><i class="fas fa-quote-right"></i></a>
    </li-->
  </ul>
  
  <span id="nav-button">
    <i class="fas fa-bars"></i>
  </span>
</header>
