<header>
  <a href="/"><img id="logo" src="/assets/img/logo.png"></a>
  <nav id="header-nav">
    <ul id="header-nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li class="menu"><span>More</span>
        <ul>
          <li><a href="/calendar">Calendar</a></li>
          <li><a href="/forms">Forms</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <ul id="header-nav-social">
    <li>YT</li>
    <li>FB</li>
    <li>TW</li>
    <li>IG</li>
    <li>PH</li>
    <li>GH</li>
  </ul>
  
  <span id="nav-button">
    <!-- TODO: Fonticon hamburger menu -->
  </span>
</header>
