@import "vendor/highlight";
figure.highlight {
    border-radius: 15px;
    padding-left: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    pre {
        margin-top: 0px;
        margin-bottom: -15px;
    }
}