section#involve-parent {
  @media (max-width: 1410px) {
    margin-left: -8px;
    div {
      display: block;
      width: 98%;
      margin-bottom: 4px;
      &:not(.involve) figure {
        display: none;
      }
    }
  }
  @media (min-width: 1410px) {
    border-spacing: 8px;
    margin-left: -8vw;
    margin-right: -10vw;
    padding: 0;
    width: 95vw;  
    div {
      display: inline-block;
      height: 550.81px;
      width: 23%;
      &:first-child {
        border-right: solid #222 3px;
      }
      a.button {
        position: absolute;
        bottom: 16px;
      }
    }
  }
  figure {
    min-height: 280px;
    background-size: cover;
    background-position: center 35%;
  }
  div {
    padding: 8px;
    position: relative;
    vertical-align: top;
    &.involve {
      border-radius: 5px;
      &:nth-child(2) {
        background: #00aeff;
      }
      &:nth-child(3) {
        background: #01608b;
      }
      &:nth-child(4) {
        background: #1884b6;
      }
      h2 {
        color: white;
      }
      figure {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: calc(100% + 16px);
        margin: -8px -8px 0 -8px;
      }
    }
    &:not(.involve) {
      position: relative;
      figure {
        height: 368px;
        margin: 16px 4px 4px 4px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        bottom: 0;
        width: 88%;
      }
    } 
  }
}

section.content-block:first-of-type {
  position: relative;
  div.banner {
    position: absolute;
    top: 0;
    right: 10vw;
    z-index: 10;
  }
}
