@media (max-width: 1090px) {
  body {
    margin: 0;
  }

  figure.img-with-caption img {
    width: 80vw;
  }

  .content-block.extend {
    margin: -8px !important;
    padding: 8px !important;
  }

  // TODO: actually hide and replace the nav with a mobile friendly version when at a narrow width
  header {
    width: 100vw;

    nav, ul#header-nav-social {
      display: none !important;
    }
  }
}

@media (min-width: 1090px) {
  // TODO: put rules in this media query so the `!important`s in the other can be removed

  body {
    margin: 0 10vw;
  }

  header {
    width: 80vw;
  }
}

body {
  background: #333;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden
}

a {
  color: inherit;
}

header {
  background: #5E8E6B;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 5px 20px 3px black;
  z-index: 1;
  position: fixed;
  top: 0;

  * {
    display: inline;
  }

  img#logo {
    height: 75px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  nav {
    margin: 8px;
    
    a {
      text-decoration: none;
    }
    
    span {
      cursor: pointer;
    }

    li {
      margin-right: 8px;

      &.menu {
        ul {
          opacity: 0;
          position: absolute;
          left: 325px; /* todo: this won't work if we make another menu */
          transition: opacity 0.5s linear;
          padding: 8px;
          display: inline-block;
          background: #85ad8f;
          box-shadow: 0px 5px 12px 0px black;
          z-index: 999;

          li {
            display: block;
          }
        }

        &:hover ul {
          opacity: 1;
        }
      }
    }
  }

  ul#header-nav-social {
    margin-left: auto;
  }
}

div#content-container {
  padding: 8px;
}

figure.img-with-caption {
  text-align: center;
  margin: 0;
  
  img {
    max-width: 750px;
  }

  figcaption {
    color: #999;
    font-size: small;
  }
}

h1 {
  margin-top: 0;
}

h2 {
  color: #ccc;
}

h3 {
  color: #999;
  font-size: 1em;
}

.content-block {
  &.card {
    background: #eee;
    box-shadow: 0 2px 1px 1px black;
    color: #333;

    figure.img-with-caption figcaption {
      color: #444;
    }
  }

  &.extend {
    background: #222;
    padding: 8px 10vw;
    margin-left: calc(-10vw - 8px);
    margin-right: calc(-10vw - 8px);
    width: auto;
  }

  &.angular {
    /* https://stackoverflow.com/questions/29410329/create-a-slanted-edge-to-a-div */

    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    overflow: hidden;
    width: 99%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #5f5f5f;
      -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      transform-origin: 100% 0;
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      transform: skew(-45deg);
      z-index: -1;
    }

    h2 {
      color: #e6e6e6;
      margin-top: -22px;
    }
    
    h3 {
      color: #b1b1b1;
      margin-top: -20px;
      margin-bottom: 4px;

      code {
        color: #fff;
        font-weight: bold;
      }
    }
  }

  padding: 8px;
  margin-bottom: 8px;
}

div.hero-img, div.hero-space {
  background-color: transparent;
  height: calc(80vh - 8px);
  overflow: hidden;
  z-index: -1;
  
  &.hero-img {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &.hero-space {
    margin-top: -8px;
  }
}

div.hero-next {
  box-shadow: 0px -3px 5px 0px black;
}

figure.highlight {
  border-radius: 15px;
  padding-left: 8px;
  overflow-x: auto;
  overflow-y: hidden;

  pre {
    margin-top: 0px;
    margin-bottom: -15px;
  }
}

footer {
  text-align: center;
  margin-right: -10vw !important;
  margin-bottom: 0 !important;

  div#sponsor-grid {
    a {
      margin: 8px;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;

      &:nth-child(-n + 3) img {
        max-height: 150px;
        max-width: 300px;
      }

      &:nth-child(n + 4) img {
        max-height: 100px;
        max-width: 190px;
      }
    }

    hr {
      border-color: #333;
      border-style: solid;
      border-width: 2px;
      margin: 8px auto;
      max-width: 900px;
      width: 75%;
    }
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
