@import "vendor/normalize";
@import "header";
@import "content";
@import "footer";
@import "util";
body {
  background: #333;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden
}

a {
  color: inherit;
}

@media (max-width: 1090px) {
  body {
    margin: 0;
  }
}

@media (min-width: 1090px) {
  body {
    margin: 0 10vw;
  }
}
