$color-theme-main: #5E8E6B;
$color-theme-dark: #3b5041;
$color-theme-light: #85ad8f;
$color-font: #ffffff;
$color-font-caption: #999999;
$color-font-h2: #cccccc;
$color-font-h3: $color-font-caption;
$color-bg: #333333;
$color-bg-dark: #222222;
$color-bg-light: #444444;
$color-shadow-dark: #000000;
$color-social-youtube: #ff0000;
$color-social-facebook: #f7f7f9;
$color-social-twitter: #1da1f2;
$color-social-instagram: #a835b6;
$color-social-github: $color-font;
$color-card-bg: #eeeeee;
$color-card-font: $color-bg;
$color-card-font-caption: $color-bg-light;

$font-family: "Titillium Web";
