<!doctype html>
<html>

{% include head.html %}

<body {% if page.body-class %}class="{{ page.body-class | join: ' ' }}"{% endif %}>
  {% include header.html %}

  <div id="content-container" {% unless page.hero-image %} style="margin-top: 95px;" {% endunless %}>
    {% if page.hero-image %}{% include hero-parallax.html image=page.hero-image %}{% endif %}
    {{ content }}
  </div>

  {% include footer.html %}

  {% if page.hero-image %}
    <!--script src="//cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script-->
    <link rel="stylesheet" href="/assets/css/hero.css">
    <script src="/assets/js/parallax.js"></script>
  {% endif %}
</body>

</html>
