.title {
    text-align: center;
    padding: 1px;
    font-weight: bold;
    font-size: larger;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content {
    text-align: center;
}

.bpoint {
    padding-bottom: 2px;
}

img {
    max-width: 50%;
    height: auto;
    width: auto\9;
    padding: 5px;
    border-radius: 15px;
}